<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>typesOfGame</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-card *ngFor="let item of gameTypes">
        <ion-row class="flex" (click)="chooseType(item)">
            <ion-col class="col col-25">
                <ion-img [src]="item.image"></ion-img>
            </ion-col>
            <ion-col class="col col-75">
                <ion-title>{{item.title}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-card>


  <div class="ion-padding">
    <ion-input [(ngModel)]="message" placeholder="Type a message"></ion-input>
    <ion-button (click)="sendMessage()">Send</ion-button>
  </div>

</ion-content>
