
<ion-content>



    <div class="content">
        <div class="body">

            <div class="cube">
                <form  [formGroup]="ionicForm">
                    <div class="title">Login</div>
                    <div class="inputs">

                        <div>
                          <ion-label class="ion-text-left" position="floating">Username</ion-label>

                          <ion-input  placeholder="username" formControlName="username" type="text" ></ion-input>
                        </div>
                        <div>
                          <ion-label class="ion-text-start" position="floating">Password</ion-label>

                          <ion-input  placeholder="password" formControlName="password" type="password" ></ion-input>
                        </div>
                      <button (click)="login()">Confirm</button>
                    </div>

                </form>
            </div>
          <div class="footer">

            <div>Do you don't have account: <span class="link" routerLink="/register" >Registration</span></div>
          </div>
        </div>

    </div>
</ion-content>

