ion-card {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  font-weight: bold;
}

ion-list {
  padding: 0;
}

ion-item {
  border: none;
  padding: 5px 0;
}

//ion-progress-bar {
//  --background: #f0f0f0;
//  --buffer-background: #d1d1d1;
//  --progress-background: #007bff;
//}
