ion-card{
  height: auto;
  padding: 13px;
  .profile-section{
    font-size: 18px;
    line-height: 30px;
    color: #e5b61d;

    .coins{
      font-size: 24px;
      color: #c71de5;
    }
  }
}
.login{
  margin-top: 30px;
}